.container {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container nav {
    margin: 30px;
}

.container nav a:visited {
    color: #FFFFFF;
}

.container .content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    border: 1px solid black;
}

.content_container #enter_button{
    padding: 10px;
    cursor: pointer;
}

.container .title {
    font-size: 5em;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#start {
    font-size: 1.5em;
    margin: 10px;
}

#handle {
    margin: 20px;  
}

footer {
    width: 100%;
    margin-top: 50px; 
    text-align: center;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
}

#wrap_button {
    position: fixed;
    right: 20px;
    bottom: 30px;
}

#modalWrap {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);

    display: none;
}

#modalBody {
    width: 500px;
    height: 300px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid gray;
    background-color: white;
}

#modalBody > img {
    width: 350px;
    margin: 20px;
}

#closeBtn {
    float: right;
    font-weight: bold;
    color: gray;
    font-size: 40px;
    cursor: pointer;
}

#addToDo_button {
    display: block;
    width: 100%;
    margin: 5px;
}

li > button {
    margin-left: 10px;
}

@media (min-width: 900px) {
    .mobile {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .challenge_container {
        display: flex;
    }

    .sub_title {
        font-size: 2em;
        margin-bottom: 10px;  
    }

    .left_container {
        position: fixed;
        width: 160px;
        left: 30px;
        border-right: 1px solid black;
        padding-right: 30px;
        height: 100%;

        background-color: white;
    }

    .mid_container {
        overflow-x: hidden;
        overflow-y: auto;
        
        display: flex;
        flex-wrap: wrap;

        margin-left: 250px;    
    }

    .right_container {
        position: fixed;
        height: 100%;
        border-left: 1px solid black;
        padding-left: 30px;
        right: 30px;
        width: 160px;

        background-color: white;
    }


    div[class~="challenge"] {
        cursor: pointer;
        font-size: 1.5em;
        width: 350px;

        padding: 20px;
        margin: 20px;
        border: 1px solid black;

        transition:
            transform .1s,
            background-color .6s;
    }

    .challenge:hover {
        overflow: visible;
        transform: scale(1.1);
        z-index: 1;
    }

    [class="info"] {
        font-size: 0.5em;
        color: gray;
    }

    #bronze {
        color: #DB6C00;
    }

    #silver {
        color: #54789A;
    }

    #gold {
        color: #FFC300;
    }

    #platinum {
        color: #2CFFBC;
    }

    #diamond {
        color: #00E4FF;      
    }

    #ruby {
        color: #FF0068;      
    }

    #tier {
        color: #BA90FA;
    }

    #class {
        color: #96CC00;
    }

    #unrated {
        color: #777777
    }

    #bronze:hover {
        color: #FFFFFF;
        background-color: #DB6C00;
    }

    #silver:hover {
        color: #FFFFFF;
        background-color: #54789A;
    }

    #gold:hover {
        color: #FFFFFF;
        background-color: #FFC300;
    }

    #platinum:hover {
        color: #FFFFFF;
        background-color: #2CFFBC;
    }

    #diamond:hover {
        color: #FFFFFF;
        background-color: #00E4FF;      
    }

    #ruby:hover {
        color: #FFFFFF;
        background-color: #FF0068;      
    }

    #tier:hover {
        color: #FFFFFF;
        background-color: #BA90FA;
    }

    #class:hover {
        color: #FFFFFF;
        background-color: #96CC00;
    }

    #unrated:hover {
        color: #FFFFFF;
        background-color: #777777
    }

    .timer_container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .timer_title {
        font-size: 2em;
    }

    input#start_button {
        margin: 10px;
    }

    .mark {
        width: 15px;
    }

    li {
        display: block;
        text-indent: -40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ::marker {
        display: none;
    }
}


@media (max-width: 900px) {
    .desktop{
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sub_title {
        font-size: 2em;
        margin-bottom: 10px;  
    }

    #modalBody {
        width: 80%;
        height: 50%;
        padding: 30px 30px;
        margin: 0 auto;
        border: 1px solid gray;
        background-color: white;
    }
   
    #quote > p {
        width: 400px;
    }

    p.hidden {
        white-space: nowrap;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a:link {
        text-decoration: none;
    }
}
